/target
Cargo.lock
dist
.agent

# Audio formats
*.mp3
*.m4a
*.flac
*.wav
*.aac
*.ogg
*.wma
*.opus
*.aiff
*.au
*.ra
*.amr
*.3gp
*.ac3
*.m4p
*.m4b
*.m4r
*.mpc
*.tta
*.wv
*.caf
*.dsd
*.dsf
*.dff

# Video formats
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.3gp
*.3g2
*.ogv
*.ogg
*.mts
*.m2ts
*.vob
*.f4v
*.asf
*.rm
*.rmvb
*.divx
*.xvid
*.mpg
*.mpeg
*.mpe
*.mpv
*.m2v
*.svi
*.3gpp
*.3gpp2
*.mxf
*.roq
*.nsv
*.flv
*.f4v
*.f4p
*.f4a
*.f4b
