name: Test

permissions:
  contents: write

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # - name: macos-arm64
          #   os: macos-latest
          # - name: windows
          #   os: windows-latest
          - name: ubuntu
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Set up WARP
        uses: fscarmen/warp-on-actions@v1.4
        if: ${{ matrix.os == 'ubuntu-latest' }}
        with:
          stack: dual # Optional. Support [ ipv4, ipv6, dual ]. Default is dual.
          mode: client # Optional. Support [ wireguard, client ]. Default is wireguard.
      - name: run
        run: |
          cargo run -q "https://www.youtube.com/watch?v=BnnbP7pCIvQ"
          cargo run -q "https://www.bilibili.com/video/BV1UG4y1z7iq"
          cargo run -q "https://www.youtube.com/watch?v=E2Rj2gQAyPA"

          ls -lh
